<section>
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="logo" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				An online “quick quoting” system. This will be a place where brokers can get a quick quote for private jet liability insurance on behalf of their clients.
			</p>
		</div>
	</div>
	<div>
		<div class="page-header">
        <h1>News</h1>
    </div>
		<div class="alert alert-warning text-center">
        Coming Soon! Stay Tuned :)
    </div>
	</div>
</section>
